
@media only screen and (min-device-width: 899px){
/*--ALGEMEEN ---------------laptop--------------------------------------------------------------------*/
/*--KLEUREN*/
.menu-container a {color:#f5f5dc;} /*menubalk */
.menu-container a:hover{color:#48534D;}
/*--//KLEUREN*/
/*--LETTER--*/
.banner_txtblock{font-size:22px;text-align: center;}
body{font-size:30px;line-height: 1.4;}
.font-20B{font-size: 36px; font-weight: 600;} 
.menu-container li{font-size:40px;}
.headertitel{font-size:80px;font-weight: 600;}
.subtitel{font-size:50px}
/*--//LETTER--*/
/*--DIVERS--*/
/*--*/
.verbergenLap{display:none;}
.verbergenMob{display:inline-block;}
.row{display:inline-block;width:100%;background-color:inherit;}    
[class*="col-"]{float:left}
.col-2{width:16.66%}
.col-3{width:33.33%;}
.col-6{width:50%;background-color:inherit;}
.col-10{width: 83.33%}
.col-12{width:100%;}
.col-30{width:30%;}
.col-40{width:40%;}
iframe{width: 100%;height:400px;}
/*----*/
.headertitel{text-align: center;justify-content:center;margin-top:0%;}
.headertekst{float:Left;}
/*--//DIVERS--*/
/*--//ALGEMEEN -----------------------------------------------------------------------------------*/

/*--BASIS-----------------------------------------------------------------------------------------*/
body{background-color:inherit;}
.bannerblock{height:25%;width:100%;position:absolute; top:0;clip-path: inset(0% 0% round 20px);}/*position moet gecombinaard met z-index menulogo*/
.banner_txtblock{width:40%;
    position:relative; opacity: 50%; top:0px;transform:translate(140%,-200%);z-index:20;}
.headerblock{margin:1% 0 0 0;background-color:inherit;}
/*--*/
*{box-sizing: border-box;}
/*menublock >> row >> menu-container >> menu >> */ /* menu-container >> ul >> li */
.menu-container{background-color: inherit;width:100%;margin: 0% 0% 0 0%;}
.menu-container li{list-style-type: none;width:100%;padding:2% 1% 0 1%;}
.menu-container a{text-decoration: none;}
.menu{background-color:inherit; padding: 1% 1% 5% 1%; margin: 0% 0% 1% 0%;z-index:10;}
.menu_home{position: relative;transform: translate(0,0);}

.footer{padding: 5% 0 0 0;margin-top:auto;}
.logo_foot{padding: 0% 0 0 0%;background-color:inherit;align-items: center;}
.logo_foot img{width:10%;margin:0% 5% 0% 5%;} /*logo footer */
/*---*/
/*--//BASIS---------------------------------------------------------------------------------------*/




/*-- INDEX -------laptop---------------------------------------------------------------------------------*/
.tentoonstelling img{clip-path:inset(0 0 round 20px);margin:2% 0 0 0;height: 80vh;}
.flyerhome{padding: 2% 2% 2% 2%; background-color: inherit;margin:0 0 -2% 0;}
.flyerhome img{width:70%; clip-path: inset(0 0 round 20px);height: 80vh;}
.flyerhome_txt{background-color:inherit;align-items: center; justify-content: center;padding:10% 5% 5% 0%;}

/*--//INDEX----------------------------------------------------------------------------------------------*/


/*--KUNST & DECORATIE-------laptop-----------------------------------------------------------------*/
.grid{display:grid !important; 
    grid-template-columns: repeat(4, 1fr) !important; gap:1%;background-color:inherit;} /* row-gap (ruimte tussen rijen) */
.afbeeldingtitel{background-color:inherit;width:100%;margin:0 0 0 0%;}
.afbeelding{background-color:inherit;height:auto;aspect-ratio:1/1; margin:1% 0 0% 0%;}
.vorm-rand{background-color: #c5a643; 
    height:100%; aspect-ratio: 1/1;
    display: flex; align-items: left; justify-content: center;
    clip-path:polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
.vorm{height:96%; aspect-ratio: 1/1;
    clip-path:polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);}
.vorm img{width:100%;height:100%; object-fit:cover;}
.vorm-titel{margin-top: 8px; font-weight: bold; text-align: center;width:100%; background-color:inherit;}

.orde{background-color: inherit;} /* anders foto's door elkaar */
/*//KUNST & DECORATIE-------laptop----------    height:250px;width:250px; -------------------------------------------------------*/




/*----DETAIL-------laptop-------------------------------------------------------------------------*/
.afbeeld, .afbeeld_txt{width:90%; background-color:inherit;padding: 5% 0% 2% 15%;}
.afbeeld img{height: 100%; clip-path: inset(0 0 round 20px);}
/*--//DETAIL-------laptop--------------------------------------------------------------------------*/
/*----EXPO--------------------------------------------------------------------------------*/
.vorm_rechthoek{width:80%;margin-left:10%;background-color:inherit;align-items: center;}
.kader{width:40%;margin:2% 0 1% 30%;}
.kader img{width: 100%;}
/*--//EXPO------------------------------------------------------------------------------*/

/*--  --CV----------laptop----------------------------------------------------------------------------*/

.blokre{width:100%; margin:5% 0% 2% 0%;
    color:black; background-color:inherit;text-align: left;} /*email blok */
.blokli{width:80%; margin: 1% 0% 2% 10%;
    opacity: 80%; background-color:inherit;color:black; text-align:left;}

/*--// --CV----------laptop----------------------------------------------------------------------------*/



/*--  --CONTACT----------laptop----------------------------------------------------------------------------*/
.blok1{background-color:#B1624F;height: 80%;width:80%;margin:2% 0 2% 10%;padding:3% 3% 3% 3%;;border: solid 2px black;}
.blok2{background-color:white;padding:2% 2% 2% 2%;height: 100%;}
.blok3{background-color:white;border: solid 2px black;height:100%;padding:2% 2% 2% 2%;}

.ol_hoofd{color:#B1624F;font-size:40px;font-weight:900;background-color:inherit;margin-top:2%;}
.contact{font-size: 25px;}
.contact2, .nummer{font-size: 18px;}

/*--*/
.contact3_container{width:100%;background-color:inherit;margin: -10% 0 0 0%;}
.contact3{width:30%; aspect-ratio:1/1;margin:-10% 0 0 40%;background-color:inherit;}
.contact4{width: 80%; padding:0% 5% 5% 20%;background-color:inherit;}
.contact4 img{width:100%;}
/*--//--CONTACT--------------------------------------------------------------------------------------------*/


/*--VOLGORDE-------------------------------------------------------------------------------------*/
/* ALGEMEEN > BASIS > KUNST & DECORATIE > CONTACT

/*--//VOLGORDE-----------------------------------------------------------------------------------*/

}