@media only screen and (min-device-width: 300px){

/*--ALGEMEEN -----------------------------------------------------------------------------------*/
/*--KLEUREN--*/
.sectionblock0{background-color:inherit;}
.bannerblock{background-color:inherit;}
.headerblock{background-color:inherit;}
.sectionblock1{background-color:#81836E}
.sectionblock2{background-color:#B1624F;}
.sectionblock3{background-color:#7d8f9b;}
.sectionblock4{background-color:#c99c6a;}
.sectionblock5{background-color: #81836E;}
.footerblock{background-color:#f5f5dc;}
.sectionblock11{background-color:inherit;}
.sectionblock20{background-color:#B1624F;}
.sectionblock21{background-color:#D0A372;}
/*--*/
body{background-color:#f5f5dc;}
a{color:#888A82;text-decoration:none;}
button a{color:#2B3E4F;text-decoration: none;}
.menuMobiel{background-color:#A87544;}
/*--*/
a:hover, button a:hover{color:#A87544;}
/*--*/
/*--//KLEUREN--*/
/*--LETTER--*/
body{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;}
.headertitel{font-size:30px;}
.headertekst{font-size:26px;}
/*--*/
.banner_txtblock{font-size:22px;text-align: center;}
li{font-size:30px;}
/*--//LETTER--*/
/*--DIVERS--*/

.TxtCenter{text-align: center;}
.TxtLeft{text-align:left;}
.Margin{margin:3% 3% 3% 3%;}
/*--*/
.verbergenMob{display:none;}
.verbergenLap{display:inline-block;}
.row{display:inline-block;width:100%;background-color:inherit;} 
[class*="col-"]{display: inline-block;text-align: center;}
.col-2,.col-3,.col-4,.col-6,.col-10,.col-12,.col-30,.col-40{width:100%;}
/*--*/
.headertitel{text-align: center;justify-content:center;}
.headertekst{float:Left;}

/*--//DIVERS--*/
/*--//ALGEMEEN -----------------------------------------------------------------------------------*/
/*--BASIS-----------------------------------------------------------------------------------------*/
.footerblock{margin:1% 1% 1% 0%;background-color:inherit;}
.headerblock,.sectionblock0, .sectionblock1, .sectionblock2, .sectionblock3, 
.sectionblock4,.sectionblock5, .sectionblock20, .footerblock{width:100%; height:100%;clip-path: inset(0% 0% round 20px);}
.sectionblock0, .sectionblock1, .sectionblock2, .sectionblock3, .sectionblock4,.sectionblock5{margin-top:1%;}
.bannerblock{height:auto;width:100%;margin:0% 0 1% 0;position:absolute; top:0;clip-path: inset(0% 0% round 20px);}/*position moet gecombinaard met z-index menulogo*/
.bannerblock img{width:100%;height:100%;}
.banner_txtblock{width:40%;
    position:relative; opacity: 50%; top:0px;transform:translate(140%,-200%);z-index:20;}
.headerblock{margin:10% 0 0 0;}
/*--*/
.menuMobiel{display:none;width: 100%; margin: 10% 0 0 0;} /*mobiele menubalk = via javascript zichtbaar*/
/*---*/
*{box-sizing: border-box;} /*nodig ivm locatie menulogo */
/*menublock >> row >> menu-container >> menu >> */ /* menu-container >> ul >> li */
.menu-container{background-color:inherit;width:50%;margin: 2% 0 0 50%;}/*nodig ivm locatie menu-hamburger-logo */
.menu{background-color: inherit;margin: 2% 2% 2% 2%;} /* gelijk aan menu-container ul */
#menu-container{background-color:inherit;display:flex;overflow:auto;flex-direction: row; width:100%;margin: 0 0 0 0%;}   
.menu-container img{width:10%;position:absolute;left:85%;top:3%;z-index:10} /*gelijke hoogte met #menu >> z-index ivm bannerblock*/ 
#menu{background-color:inherit;}/*gelijke hoogte met menulogo*/
/*---*/
.footer{padding: 5% 0 0 0;}
.logo_foot{padding: 0% 0 0% 0%;background-color:inherit;align-items:center;}
.logo_foot img{width:10%;margin:0% 5% 0% 5%;} /*logo footer */
/*---*/
li{list-style-type: none; text-align: center;padding: 10% 0 0% 0%;}
a{ color:inherit; }

/*---*/
/*--//BASIS---------------------------------------------------------------------------------------*/


/*-- INDEX -------mobiel---------------------------------------------------------------------------------*/
.tentoonstelling img{clip-path:inset(0 0 round 20px);margin:2% 0 0 0;height: 80vw;}
.flyerhome{padding: 2% 2% 2% 2%; background-color: inherit;margin:0 0 -2% 0;}
.flyerhome img{width:70%; clip-path: inset(0 0 round 20px);height: 80vw;}
.flyerhome_txt{background-color:inherit;align-items: center; justify-content: center;padding:10% 5% 5% 0%;}
/*--//INDEX---------------------------------------------------------------------------------------------*/

/*--KUNST & DECORATIE----------mobiel-------    width:300px; height:300px; margin: 0% 0% 0% 0%;-----width: 290px; height:290px;--------------------------------------------------*/
.grid{display:grid !important; 
    grid-template-columns: repeat(1, 1fr) !important; gap: 1px;background-color:inherit;}
.afbeeldingtitel{background-color:inherit;width:80%;margin:0 0 0 10%;padding:5% 5% 5% 5%;}
.vorm-rand{background-color: #c5a643; 
    height:100%; aspect-ratio: 1/1;
    display: flex; align-items: left; justify-content: center;
    clip-path:polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);}
.vorm{
    height:96%; aspect-ratio: 1/1; margin:2% 0 0 0;
    clip-path:polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);}
.vorm img{width:100%;}
.vorm-titel{margin-top: 8px; font-weight: bold; text-align: center;}

.orde{background-color: inherit;} /* anders foto's door elkaar */
/*//KUNST & DECORATIE------------------------------------------------------------------------*/

/*----DETAIL-------mobiel-------------------------------------------------------------------------*/
.afbeeld, .afbeeld_txt{width:90%; background-color:inherit;padding: 5% 0% 2% 0%;width: 80%;margin-left: 10%;}
.afbeeld img{width:100%;clip-path: inset(0 0 round 20px);}
/*--//DETAIL-------mobiel--------------------------------------------------------------------------*/

/*----EXPO--------------------------------------------------------------------------------*/
.vorm_rechthoek{width:100%;margin-left:0%;background-color:inherit;align-items: center;}
.kader{width:60%;margin:2% 0 1% 20%;}
.kader img{width: 100%;}
/*--//EXPO------------------------------------------------------------------------------*/

/*--   --CV----------mobiel----------------------------------------------------------------------------*/
.subtitel{font-size:50px;}
.tekst{font-size:30px;text-align:left; background-color:inherit;}
.deel_bovenste{font-size:50px;}
.deel_onderste{font-size:20px;line-height: 1.5}

.foto img{width:65%; clip-path: inset(0 0 round 20px);margin:15% 0% 0% 15%;}

/*opmaak blokken*/
.blok1{background-color:#B1624F;height: 100%;width:80%;margin-left:10%;padding:3% 3% 3% 3%;}
.blok2{background-color:white;padding:2% 2% 2% 2%;height: 100%;}
.blok3{background-color:white;border: solid 2px black;height:100%;}
.blok4{font-size:20px; margin-top:5%    }

.subtitel{background-color:inherit;}
.deel_onderste{background-color:inherit;padding:0 0 0 10%;}
.deel_onderste li{list-style-type: disc;padding:1% 1% 1% 1%;text-align:left;}

.blokli{width:80%; margin: 1% 0% 2% 10%;
    opacity: 80%; background-color:inherit;color:black; }
.blokre{width:100%; margin:0% 0% 2% 0%;
    color:black; background-color:inherit;text-align: center;} /*email blok */

.deel_vervolg{width:80%; margin-left:10%;background-color:inherit;text-align:left;} /*titels deel 2 */
.vaardigheden{text-align: center; font-size:30px; width: 80%; margin-left: 10%;background-color:inherit;}
/*--// --CV----------mobiel----------------------------------------------------------------------------*/






/*--  --CONTACT----------MOBIEL----------------------------------------------------------------------------*/
.blok1{background-color:#B1624F;height: 80%;width:90%;margin:10% 0 10% 5%;padding:3% 3% 3% 3%;;border: solid 2px black;}
.blok2{background-color:white;padding:2% 2% 2% 2%;height: 100%;}
.blok3{background-color:white;border: solid 2px black;height:100%;padding:5% 5% 5% 5%;}

.ol_hoofd{color:#B1624F;font-size:35px;font-weight:900;background-color:inherit;margin-top:10%;}
.contact{font-size: 20px;}
.contact2, .nummer{font-size: 17px;}

.contact3_container{width:30%;background-color:inherit;margin: -0% 0 0 70%;}
.contact3{width:100%; aspect-ratio:1/1;}
.contact3 img{width:100%;aspect-ratio:1/1;clip-path:polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);}
/*--//--CONTACT--------------------------------------------------------------------------------------------*/




/*--VOLGORDE-------------------------------------------------------------------------------------*/
/* ALGEMEEN > BASIS > INDEX > KUNST&DECORATIE > CONTACT

/*--//VOLGORDE-----------------------------------------------------------------------------------*/



        
}