@media only screen and (min-device-width: 150px){

/*--ALGEMEEN -----------------------------------------------------------------------------------*/
/*--KLEUREN--*/
.sectionblock0{background-color:inherit;}
.bannerblock{background-color:inherit;}
.headerblock{background-color:inherit;}
.sectionblock1{background-color:#81836E}
.sectionblock2{background-color:#B1624F;}
.sectionblock3{background-color:#777371;}
.sectionblock4{background-color:#D0A372;}
.sectionblock5{background-color: #81836E;}
.footerblock{background-color:#f5f5dc;}
.sectionblock11{background-color:inherit;}
/*--*/
body{background-color:#f5f5dc;}
a{color:#888A82;text-decoration:none;}
button a{color:#2B3E4F;text-decoration: none;}
.menuMobiel{background-color:#A87544;}
/*--*/
a:hover, button a:hover{color:#A87544;}
/*--*/
/*--//KLEUREN--*/
/*--LETTER--*/
body{font-family: "Gill Sans", "Gill Sans MT", "Calibri", Arial, "Helvetica", sans-serif;}
.headertitel{font-size:30px;}
.headertekst{font-size:26px;}
/*--*/
.banner_txtblock{font-size:22px;text-align: center;}
li{font-size:30px;}
/*--//LETTER--*/
/*--DIVERS--*/

.TxtCenter{text-align: center;}
.Margin{margin:3% 3% 3% 3%;}
/*--*/
.verbergenMob{display:none;}
.verbergenLap{display:inline-block;}
.row{display:inline-block;width:100%;background-color:inherit;} 
[class*="col-"]{display: inline-block;text-align: center;}
.col-4,.col-6,.col-12,.col-30,.col-40{width:100%;}
/*--*/
.headertitel{text-align: center;justify-content:center;}
.headertekst{float:Left;}

/*--//DIVERS--*/
/*--//ALGEMEEN -----------------------------------------------------------------------------------*/
/*--BASIS-----------------------------------------------------------------------------------------*/
.headerblock,.sectionblock0, .sectionblock1, .sectionblock2, .sectionblock3, 
.sectionblock4,.sectionblock5, .footerblock{width:100%; height:100%;clip-path: inset(0% 0% round 20px);}
.sectionblock0, .sectionblock1, .sectionblock2, .sectionblock3, .sectionblock4,.sectionblock5{margin-top:1%;}
.bannerblock{height:40px;width:100%;position:absolute; top:0;}/*position moet gecombinaard met z-index menulogo*/
.bannerblock img{width:100%;height:100%;}
.banner_txtblock{width:40%;
    position:relative; opacity: 50%; top:0px;transform:translate(140%,-200%);z-index:20;}
.headerblock{margin:10% 0 0 0;}
/*--*/
.menuMobiel{display:none;width: 100%; margin: 10% 0 0 0;} /*mobiele menubalk = via javascript zichtbaar*/
/*---*/
*{box-sizing: border-box;} /*nodig ivm locatie menulogo */
/*menublock >> row >> menu-container >> menu >> */ /* menu-container >> ul >> li */
.menu-container{background-color:inherit;width:50%;margin: 2% 0 0 50%;}/*nodig ivm locatie menu-hamburger-logo */
.menu{background-color: inherit;margin: 2% 2% 2% 2%;} /* gelijk aan menu-container ul */
#menu-container{background-color:inherit;display:flex;overflow:auto;flex-direction: row; width:100%;margin: 0 0 0 0%;}   
.menu-container img{width:10%;position:absolute;left:85%;top:3%;z-index:10} /*gelijke hoogte met #menu >> z-index ivm bannerblock*/ 
#menu{background-color:inherit;}/*gelijke hoogte met menulogo*/
/*---*/
.logo_foot{padding: 0 0 0 0%;background-color:inherit;align-items:center;}
.logo_foot img{width:10%;margin:0% 5% 0% 5%;} /*logo footer */
/*---*/
li{list-style-type: none; text-align: center;padding: 10% 0 0% 0%;}
a{ color:inherit; }
/*---*/
/*--//BASIS---------------------------------------------------------------------------------------*/

/*-- INDEX ----------------------------------------------------------------------------------------*/

/*--//INDEX---------------------------------------------------------------------------------------*/
/*--KUNST & DECORATIE-------laptop-----------------------------------------------------------------*/
.grid{display:grid !important; 
    grid-template-columns: repeat(1, 1fr) !important; gap: 80px;background-color:inherit;}
.vorm-rand{background-color: #c5a643; 
    height: 300px;width:300px; 
    display: flex; align-items: center; justify-content: center;
    clip-path:polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); margin: 5% 5% 5% 5%;}
.vorm{height:290px; width:290px;
    clip-path:polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);}
.vorm img{width:100%;}
.vorm-titel{margin-top: 8px; font-weight: bold; text-align: center;}

.orde{background-color: inherit;} /* anders foto's door elkaar */
/*//KUNST & DECORATIE-------laptop-----------------------------------------------------------------*/
/*--VOLGORDE-------------------------------------------------------------------------------------*/
/* ALGEMEEN > BASIS > INDEX > KUNST&DECORATIE

/*--//VOLGORDE-----------------------------------------------------------------------------------*/



        
}