{% extends 'basis.html' %}
{% load static %}

<!--head-->
{% block head %}
<style>
.galerie324{flex-direction: row; display: flex;flex-wrap:wrap;gap:1rem;}
.item{flex:1 1 calc(25% - 1 rem);box-sizing:border-box;}


.galerie{background-color:yellow;width:80%;height: 100px;}
.toonstel img {width: 30%; margin: 0% 0% 0% 0%;}
</style>
{% endblock %}
<!--//head-->


<!--------------------SECTION--------------------------------------------------------------------------------------------------------->
<!----------HEADER----->
{% block header %}{% endblock header %}
<!-----//---HEADER----->

<!----------SECTION1----->
{% block section2 %}


{% for kunst in kunst_list %}
    {% if forloop.first or forloop.counter0|divisibleby:4 %}
    <div class ="row" style ="display:flex; gap:20px; margin-bottom:20px;"> aklsfkas
    {% endif %}
    <div style="width:100px; height:100px; display: flex;align-items:center;justify-content: center;color:white;"> 
        <img src="{{ kunst.afbeeld.url }}">
        {{kunst.titel}}

    {% if forloop.counter|divisibleby:4 or forloop.last %} 
    </div>
    {% endif %}


{% endfor %}


{% endblock %}
<!-----//---SECTION----->


<!----------SECTION3----->
{% block section3 %}


{% for kunst in kunst_list %}
    {% if forloop.first or forloop.counter0|divisibleby:4 %}
    <div class ="row" style ="display:flex; gap:2px; margin-bottom:20px;"> aklsfkas
    {% endif %}
    <div style="width:100px; height:200px; display: flex;align-items:center;justify-content: center;color:white;border:5px solid white;gap:5px;"> 
        <img src="{{ kunst.afbeeld.url }}">
        {{kunst.titel}}

    {% if forloop.counter|divisibleby:4 or forloop.last %} 
    </div>
    {% endif %}


{% endfor %}


{% endblock %}
<!-----//---SECTION----->

<!----------SECTION11----->
{% block section4 %}


{% for kunst in kunst_list %}
    {% if forloop.first or forloop.counter0|divisibleby:4 %}
    <div class ="row" style ="display:flex; gap:2px; margin-bottom:20px;"> aklsfkas
    {% endif %}
    <div style="width:100px; height:200px; display: flex;align-items:center;justify-content: center;color:white;border:5px solid white;gap:5px;"> 
        <img src="{{ kunst.afbeeld.url }}">
        {{kunst.titel}}

    {% if forloop.counter|divisibleby:4 or forloop.last %} 
    </div>
    {% endif %}


{% endfor %}


{% endblock %}
<!-----//---SECTION----->


<div class = "nogonbekend" style="background-color: purple; width:100px; height: 100px;display:grid;grid-template-columns:repeat(4,1fr);"></div>

<div style = "background-color:purple; width:100px; height:100px; display: flex;align-items:center;justify-content: center;color:white;"> 

  
<!----------SECTION----->
{% block section30 %}

<div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 80px;">
    {% for kunst in kunsts %}
        <div style="background-color: inherit; height: 300px; display: flex; align-items: center; justify-content: center;">
            
            <div style="max-height:100%; padding: 20% 20% 20% 20%;"> 
                <img style="width: 60% " src="{{ kunst.afbeeld.url }}" alt="in construction">

            </div>
           
        </div>
    {% endfor %}
</div>

{% endblock %}
<!--//------SECTION----->
