{% extends 'basis.html' %}
{% load static %}

<!--CSS style-->
{% block head %}
<style>

</style>
{% endblock %}
<!--CSS style-->

{% block menu %}
{% endblock %}

{% block section %}

<div class = "menuMobiel" id = "menuMobiel">
    <ul> 
        <li> <a href = "/index.html"> Home </a></li>
        <li> <a href = "/kunst.html"> Art </a></li>
        <li> <a href = "/decoratie.html"> Decoratie </a></li>
        <li> <a href = "/cv.html"> CV </a></li>
        <li> <a href = "/aanhetwerk.html"> Aan het werk </a></li>
        <li> <a href = "/contact.html"> Contact </a></li>
    </ul>
</div>

<script src="{% static 'js/eigenontwerp/menu.js' %}" type = "text/javascript" ></script>
 <script>


 </script>

{% endblock %}

{% block footer%}
{% endblock %}