{% extends 'basis.html' %}
{% load static %}
<!--head-->
{% block styles %}
<style>
    .body{background-color:green;}
</style>
{% endblock %}
<!--//head-->
<!-----------------------------------------BODY------------------------------>
<!----------HEADER----->
{% block header %}
<div class = "row">
    <div class="headertitel"> Marlous Muda aan het werk </div>
    <div class="headertekst"></div>
</div>
{% endblock header %}
<!-----//---HEADER----->
<!----------SECTION----->
{% block section11 %}
<!---->
<div class = "grid">
    {% for werk in werks %}
    <div class = "afbeelding&titel">
        <div class = "vorm-rand">
            <div class = "vorm">
                <a href="/aanhetwerk_detail.html/ {{ werk.pk }}"> <img src="{{ werk.afbeeld.url }}" alt="in construction"> </a>
                <a href = "{% url 'WerkDetail' werk.pk %}" TARGET = "_blank" > <img scr = "{{ werk.afbeeld.url }}"> </a>
            </div>
        </div>
        <div class ="vorm-titel"> {{ werk.titel }}</div>
    </div>
    {% endfor %}
</div>
<!---->
 {% endblock %}
<!--//------SECTION----->



