{% extends 'basis.html' %}
{% load static %}
<!--head---->
{% block styles %}
<style>




</style>
{% endblock %}
<!--// head-->
<!-----------------------------------------BODY------------------------------>
<!----------HEADER----->
{% block header %}
<div class = "row">
    <div class="headertitel"> 
        <div> Contact</div>
    </div>
</div>
{% endblock header %}
<!-----//---HEADER----->
<!----------SECTION1----->

{% block section12 %}
<div class = "row">
    <div class = "col-6 ">
        <div class = "contact4">
            <!--   <a href=""> <img id = "foto_contact" src="{% static 'img/atelier1.jpg' %}" alt="foto atelier"> </a>   
                <img id = "foto_contact" src="img/atelier1.jpg" alt = "django">   --> 
            <img id = "foto_contact1" src="{% static 'img/ontwerp.jpg' %}" alt="foto atelier">    
        </div>
    </div>
    <div class = "col-6">
        <div class = "contact3_container">
            <div class = "contact3">
                <img id = "foto_contact" src="{% static 'img/atelier1.jpg' %}" data-src="{% static 'img/atelier2.jpg' %}" data-original = "{% static 'img/atelier1.jpg' %}" alt="foto">
                <div class = 'ol_hoofd'> Email: </div>
                <div class = "contact"> Marlousmuda@hotmail.com</div>
            </div>
            <!--   <a href=""> <img id = "foto_contact" src="{% static 'img/atelier1.jpg' %}" alt="foto atelier"> </a>   
            <img id = "foto_contact" src="img/atelier1.jpg" alt = "django">   --> 
       

        </div>
    </div>
</div>



{% endblock %}
<!-----//---SECTION----->

{% block scripts %}
  <script>
    document.getElementById("foto_contact").src = "{% static 'img/atelier1.jpg' %}";
  </script>
{% endblock %}


