{% extends 'basis.html' %}
{% load static %}
<!--head-->
{% block styles %}
<style>

.footer{background-color:inherit;}
</style>
{% endblock %}
<!--//head-->
<!-----------------------------------------------------------------------------BODY----->

<!----------HEADER----->
{% block header %}
<div class = "row">
    <div class="headertitel"> Decoraties & Renovaties </div>
    <div class="headertekst"></div>
</div>
{% endblock header %}
<!-----//---HEADER----->
<!----------SECTION----->
{% block section11 %}
<!---->
<div class = "grid">
    {% for decor in decors %}
    <div class = "afbeeldingtitel">
        <div class = "afbeelding">
            <div class = "vorm-rand">
                <div class="vorm">
                    <a href="/decoratie_detail.html/{{ decor.pk }}"> <img src="{{ decor.afbeeld.url }}" alt="in construction"> </a>
                    <a href="{% url 'DecorDetail' decor.pk %}" TARGET = "_blank"> <img src="{{ decor.afbeeld.url }}" alt="in construction"> </a>
                </div>
            </div>
        </div>
        
        <div class ="vorm-titel"> {{ decor.titel }}</div>
    </div>
    {% endfor %}
</div>
<!---->
 {% endblock %}
<!---->
<!--//------SECTION----->












