{% extends 'basis.html' %}
{% load static %}
<!--head-->
{% block styles %}
<style>
/*----DETAIL-------laptop-----------------------------------------------------------------*/
.afbeeld, .afbeeld_txt{clip-path: inset(0 0 round 20px); width:80%;margin-left:10%;}
.afbeeld img{width: 100%;}

/*--//DETAIL-------laptop-----------------------------------------------------------------*/
</style>
{% endblock %}
<!--//head-->
<!-------------------------------------------------------------------------------------------BODY-->
<!----------SECTION----->
{% block section11 %}
<div class="geen_banner">
    <div class = "row">
        <div class = "afbeeld"> <a href="/decoratie.html"><img src="{{ decor.afbeeld.url }}" alt="in construction"> </div>
    </div>

    <div class = "row">
        <div class="afbeeld_txt">"{{ decor.titel }}", ({{decor.jaartal}}) , {{ decor.materiaal }}, {{ decor.formaat }} </div>
    </div>
</div>
<!---->
{% endblock %}
<!--//------SECTION----->

<!---   HIERDOOR NIET ZICHTBAAR OP PAGINA----->
<!--------BANNER----->
{% block banner %}
{% endblock %}
<!-----//---BANNER--->
<!--------MENU----->
{% block menu %}{% endblock %}
<!-----//---MENU----->
<!----------HEADER----->
{% block header %}
{% endblock header %}
<!-----//---HEADER----->

<!---// HIERDOOR NIET ZICHTBAAR OP PAGINA----->