{% extends 'basis.html' %}
{% load static %}
<!--head---->
{% block styles %}
<style>
.flyerhome{font-size:50px;}
.flyerhome{background-color: inherit;align-items: center; justify-content: center;padding:5% 5% 5% 5%;}
.flyerhome img{width:30%; clip-path: inset(0 0 round 20px);}


</style>
{% endblock %}
<!--// head-->

<!-----------------------------------------BODY------------------------------>

<!----------HEADER----->
{% block header %}
<div class = "row">
    <div class="headertitel"> Kunst & Decoratie Marlous Muda </div>
    <div class="headertekst"></div>
</div>
{% endblock header %}
<!-----//---HEADER----->

<!----------SECTION----->
{% block section1 %}
    <div class = "row"> 
        <div class = "col-10 flyerhome">
            <div> Hier komen de tentoolstellingen waar je schilderijen zijn te aanschouwen door het publiek. </div>
            <div style="margin-top: 8px; font-weight: bold; padding: 0% 10% 10% 12%;"></div>
        </div>
        <div class = "col-6" style=" background-color: inherit;">
        </div>
    </div>
{% endblock %}
<!-----//---SECTION----->

<!----------SECTION----->
{% block section2 %}
    <div class = "row"> 
        <div class = "col-6 flyerhome">
            <div> Hier de laatste toegevoegde foto van aan kunst. </div>
        </div>
        <div class = "col-6 flyerhome">
            <img src = "{{ kunst.afbeeld.url }}" alt="in construction">
            <br>
            {{ kunst.titel }}
        </div>
    </div>
{% endblock %}
<!-----//---SECTION----->

<!----------SECTION----->
{% block section3 %}
    <div class = "row"> 
        <div class = "col-6 flyerhome">
            <div> Hier de laatste toegevoegde foto van het werk. </div>
        </div>
        <div class = "col-6 flyerhome">
            {% if werk.afbeeld %}
                <img src="{{ werk.afbeeld.url }}" alt="{{ werk.titel }}">
                <br>
                 {{ werk.titel }}
            {% else %}
                <p> Geen afbeelding beschikbaar.</p>
                <p> Afbeelding URL: {{ werk.afbeeld.url }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
<!-----//---SECTION----->

<!----------SECTION----->
{% block section4 %}
    <div class = "row"> 
        <div class = "col-6 flyerhome">
            <div> Hier de laatste toegevoegde foto van het decor. </div>
        </div>
        <div class = "col-6 flyerhome">
            {% if decor.afbeeld %}
                <img src="{{ decor.afbeeld.url }}" alt="{{ decor.titel }}">
                <br>
                 {{ decor.titel }}
            {% else %}
                <p> Geen afbeelding beschikbaar.</p>
                <p> Afbeelding URL: {{ decor.afbeeld.url }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
<!-----//---SECTION----->






