{% extends 'basis.html' %}
{% load static %}
<!--head---->
{% block styles %}
<style>
.tentoonstelling img{clip-path:inset(0 0 round 20px);margin:2% 0 0 0;}

.flyerhome{padding: 2% 2% 2% 2%; background-color: inherit;margin:0 0 -2% 0;}
.flyerhome img{width:70%; clip-path: inset(0 0 round 20px);float:right;}

.flyerhome_txt{background-color:inherit;align-items: center; justify-content: center;padding:10% 5% 5% 0%;}





</style>
{% endblock %}
<!--// head-->

<!-----------------------------------------BODY------------------------------>

<!----------HEADER----->
{% block header %}
<div class = "row">
    <div class="headertitel"> Kunst & Decoratie Marlous Muda </div>
    <div class="headertekst"></div>
</div>
{% endblock header %}
<!-----//---HEADER----->

<!----------SECTION----->
{% block section1 %}
      <div class = "row"> 
        <div class = "col-12 tentoonstelling">
            <img src = "{{ tent.afbeeld.url }}" alt="in construction">
            <br>
        </div>
    </div>
{% endblock %}
<!-----//---SECTION----->

<!----------SECTION----->
{% block section2 %}
    <div class = "row"> 
        <div class = "col-6 flyerhome">
            <a href="{% url 'kunst' %}"> <img src = "{{ kunst.afbeeld.url }}" alt="in construction"> </a>
        </div>
        <div class = "col-6 flyerhome_txt">
            <div> " {{kunst.titel}}  "</div>
            <div> ( {{kunst.jaartal }} ) </div>
            <div> {{kunst.materiaal}} , {{kunst.formaat}} </div>
        </div>
    </div>
{% endblock %}
<!-----//---SECTION----->

<!----------SECTION----->
{% block section3 %}
    <div class = "row"> 
        <div class = "col-6 flyerhome_txt">
            <div> " {{werk.titel}}  "</div>
            <div>  </div>
            <div>  </div>
        </div>
        <div class = "col-6 flyerhome">
           <a href = "{% url 'werk' %}"> <img style="float:left" src = "{{ werk.afbeeld.url }}" alt="in construction"> </a>
        </div>
    </div>
{% endblock %}
<!-----//---SECTION----->

<!----------SECTION----->
{% block section4 %}
    <div class = "row"> 
        <div class = "col-6 flyerhome">
            {% if decor.afbeeld %}
                <a href = "{% url 'decor' %}"><img src="{{ decor.afbeeld.url }}" alt="{{ decor.titel }}"> </a>
            {% else %}
                <p> Geen afbeelding beschikbaar.</p>
                <p> Afbeelding URL: {{ decor.afbeeld.url }}</p>
            {% endif %}
        </div>
        <div class = "col-6 flyerhome_txt">
            <div> " {{decor.titel}}  "</div>
            <div> ( {{decor.jaartal }} ) </div>
            <div> {{decor.materiaal}} , {{decor.formaat}} </div>
        </div>
      
    </div>
{% endblock %}
<!-----//---SECTION----->






