{% extends 'basis.html' %}
{% load static %}
<!--head---->
{% block styles %}
<style>

</style>
{% endblock %}
<!--// head-->

<!-----------------------------------------BODY------------------------------>

<!----------HEADER----->
{% block header %}
<div class = "row">
    <div class="headertitel"> Kunst & Decoratie Marlous Muda </div>
    <div class="headertekst"></div>
</div>
{% endblock header %}
<!-----//---HEADER----->

<!----------SECTION1----->
{% block section1 %}
{% for kunst in kunst_list %}
    <div class = "row"> 
        <div class = "col-6" style=" background-color: inherit;align-items: center; justify-content: center;padding:10% 1% 1% 10%;">
            <div>Het laatste werk van Marlous Muda. Voor meer zie Art</div>
            <div style="margin-top: 8px; font-weight: bold; padding: 0% 10% 10% 12%;">{{ kunst.titel }}</div>
        </div>
        <div class = "col-6" style=" background-color: inherit;">
            <img style="width:30%; align-items: center; justify-content: center;padding:1% 1% 1% 1%;" src="{{ kunst.afbeeld.url }}" alt="in construction">
 
        </div>
    </div>
{% endfor %}
{% endblock %}
<!-----//---SECTION----->

<!----------SECTION1----->
{% block section2 %}
    <div class = "row"> 
        <div class = "col-6" style=" background-color: inherit;align-items: center; justify-content: center;padding:10% 1% 1% 10%;">
            <div> Hier zou je je laatste activiteiten kunnen plaatsen</div>
            <div style="margin-top: 8px; font-weight: bold; padding: 0% 10% 10% 12%;"></div>
        </div>
        <div class = "col-6" style=" background-color: inherit;">
        </div>
    </div>
{% endblock %}
<!-----//---SECTION----->