{% extends 'basis.html' %}
{% load static %}
<!--head-->
{% block styles %}
<style>
/*----DETAILE-------laptop-----------------------------------------------------------------*/
.afbeeld{clip-path: inset(0 0 round 20px); width:80%;margin-left:10%;}
.afbeeld img{width: 100%;}

.geen_banner{position:absolute;top:1%;}
.vorige,.volgende {text-decoration: none;z-index:50;}
.vorige {width: 40px; height:30px; position:fixed; top: 50%; transform: translateY(-0%); left: 3%;background-color:#2B3E4F; clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);}
.volgende {width: 40px; height:30px; position: fixed; top: 50%; transform: translateY(-0%); right: 3%; transform: translateX(0);background-color:#2B3E4F; clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);}
/*--//DETAILE-------laptop-----------------------------------------------------------------*/
</style>
{% endblock %}
<!--//head-->
<!-------------------------------------------------------------------------------------------BODY-->
<!--------BANNER----->
{% block banner %}
{% endblock %}
<!-----//---BANNER--->
<!--------MENU----->
{% block menu %}{% endblock %}
<!-----//---MENU----->
<!----------HEADER----->
{% block header %}
{% endblock header %}
<!-----//---HEADER----->


<!----------SECTION----->
{% block section11 %}
<div class="row">
    <div class="col-12"> 
        <a href="/kunst_detail.html/{{ kunst.pk }}" class="vorigeP">&#8882;</a>
        <a href="" class="volgende">&#8883;</a>
        <button class = "volgende" id = "volgende" data-next-url = "{% if next_item %} {% url 'KunstDetail' pk=next_item.pk %} {%endif%}"> </button>
        <button id="next-button" data-next-pk="{{ next_item.pk|default:'null' }}">Volgende</button>
    </div>
</div>
<!-----UITPROBEREN-->
{% if next_item %}
    <a href="{% url 'KunstDetail' pk=next_item.pk %}">Volgende</a>
{% else %}
    geen NEXT ITEM
    
{% endif %}
<!-----UITPROBEREN -->
<!---->
<div class="geen_banner">
    <div class = "row">
        <div class = "afbeeld"> <a href="/kunst.html"><img src="{{ kunst.afbeeld.url }}" alt="in construction"> </div>
    </div>

    <div class = "row">
        <div class="headertekst">{{ kunst.titel}} , ({{jaartal}}) , materiaal , formaat </div>
    </div>
</div>
<!---->
{% endblock %}
<!--//------SECTION----->

{% block scripts %}
<script>
    alert('#volgende geactiveerd met javasript')
document.getElementId('#volgende').addEventListener('click', function(){const nextUrl = this.getAttribute('data-next-url');
if (nextUrl){
    window.location.href = nextUrl;
} else{
    alert ("Geen volgende item.");
}
}); 
</script>
{% endblock %} 