{% extends 'basis.html' %}
{% load static %}
<!--head-->
{% block styles %}
<style>





</style>
{% endblock %}
<!--//head-->
<!-----------------------------------------------------------------------------BODY----->

<!----------HEADER----->
{% block header %}
<div class = "row">
    <div class="headertitel"> Kunstgalerie Marlous Muda </div>
    <div class="headertekst"></div>
</div>
{% endblock header %}
<!-----//---HEADER----->

<!----------SECTION----->
{% block section11 %}
<!---->
<div class="grid">
    {% for kunst in kunsts %}
    <div class = "afbeeldingtitel">
        <div class = "vorm-rand">
            <div class="vorm">
               <a href="/kunst_detail.html/{{ kunst.pk }}"> <img style="width: 100% " src="{{ kunst.afbeeld.url }}" alt="in construction"> </a>
               <a href="{% url 'KunstDetail' kunst.pk %}" TARGET = "_blank"> <img style="width: 100% " src="{{ kunst.afbeeld.url }}" alt="in construction"> </a>
            </div>
        </div>
        <div class="vorm-titel">{{ kunst.titel }}</div>
    </div>
    {% endfor %}
</div>
<!---->
 {% endblock %}
<!--//------SECTION----->


