{% extends 'basis.html' %}
{% load static %}
<!--head-->
{% block styles %}
<style>
/*--LEGE PAGINA-------------------------------------------------------------------------------------*/
.bannerblock{display:none;}
.geen_banner{background-color:inherit;}   
.afbeeld{background-color:inherit;}
.afbeeld_txt{background-color:inherit;}
/*--LEGE PAGINA-------------------------------------------------------------------------------------*/


</style>
{% endblock %}
<!--//head-->
<!------------.bannerblock{display:none;}-------------------------------------------------------------------------------BODY-->
<!----------SECTION----->
{% block section11 %}
<div class="geen_banner">
    <div class = "row">
        <div class = "col-6">
            <div class = "afbeeld"> <a href="/kunst.html"><img src="{{ kunst.afbeeld.url }}" alt="in construction"> </div>
        </div>
        <div class = "col-6">
            <div class="afbeeld_txt">"{{ kunst.titel }}", ({{kunst.jaartal}}) , {{ kunst.materiaal }}, {{ kunst.formaat }} </div>
        </div>
    </div>
</div>
<!---->
{% endblock %}
<!--//------SECTION----->

<!---   HIERDOOR NIET ZICHTBAAR OP PAGINA----->
<!--------BANNER----->
{% block banner %}
{% endblock %}
<!-----//---BANNER--->
<!--------MENU----->
{% block menu %}{% endblock %}
<!-----//---MENU----->
<!----------HEADER----->
{% block header %}
{% endblock header %}
<!-----//---HEADER----->

<!---// HIERDOOR NIET ZICHTBAAR OP PAGINA----->